/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
    background-color: #373838;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}

/* Header Styling */


/* Responsive Design */
/* @media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main";
    }

    .sidebar {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }
} */